.Task-container {
        padding: 15px;
        line-height: 2rem;
        word-wrap: break-word;

        .Task-label,
        .Task-button {
            display: inline-block;
        }

        .Task-label {
            width: 170px;
            vertical-align: middle;
        }
        
        .Task-button {
            float: right;
        }
    }