.TaskList-Form {
  margin: 15px;
  padding: 15px; }

.TaskList-Tasks {
  margin: 15px 0;
  padding: 15px;
  text-align: left; }
  .TaskList-Tasks .TaskList-Task {
    padding: 15px;
    line-height: 2rem;
    word-wrap: break-word; }
    .TaskList-Tasks .TaskList-Task .TaskList-Button {
      float: right; }
