.Nav-container {
    padding: 0;

    .Nav-item {
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 0;
        width: 50%;
        transition: background-color 500ms ease;
    }

    .Nav-item:hover {
        background-color: whitesmoke;
    }

    .Nav-item > a, 
    &:visited,
    &:active  {
        text-decoration: none;
        font-size: 2rem;
    }
}