.Nav-container {
    padding: 10px;

    .Nav-item {
        display: inline-block;
        text-transform: uppercase;
        padding: 15px;
    }

    .Nav-item > a, 
    &:visited,
    &:hover,
    &:active  {
        text-decoration: none;
        font-size: 1.5rem;
    }
}